*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: rgba(4, 3, 3, 0.908);
}
/* nav section starts */
nav{
    background-color: rgba(4, 3, 3, 0.23);
}
.navbar .navbar-brand{
    color: white;
}
.navbutton{
    visibility: hidden;
}
.image{
    padding: 0px 1em;
    display: flex;
}
.navbar .nav-link{
    color: rgba(255, 255, 255, 0.453);
}
.navbar .navbar-nav{
    padding-left: 5em;
}
.navbar .nav-item{
    padding-left: 1.5em;
}
.left-part{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3em;
}
.left-part1{
    margin-right: 20px;
}
.left-part2{
    margin-right: 10px;
}
.btn1,.btn4{
    border-radius: 5px;
    border: none;
    color: white;
    background-color:rgba(60, 244, 183, 0.685);
    padding: 6px 16px;
}
.btn1:hover, .btn4:hover{
    background-color: rgba(60, 244, 183, 0.488);
}
.btn2{
    border-radius: 5px;
    border: none;
    color: white;
    background-color:transparent;
    padding: 4px 6px 4px 1px;
    border: 1px solid rgba(245, 245, 245, 0.11);
    border-radius: 5px;
}
.btn2:hover{
    background-color:rgba(128, 124, 124, 0.077);
}
.btn3{
    border-radius: 5px;
    border: none;
    color: white;
    background-color:transparent;
    padding: 8px 20px;
    border: 1px solid rgba(245, 245, 245, 0.11);
    border-radius: 5px;
}
.btn3:hover{
    background-color:rgba(128, 124, 124, 0.077);
}
/* nav section ends */



/* main section starts  */
.section2{
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 4em;
}
.section2-heading{
    width: 350px;
}
.heading1{
    color: white;
    font-size: 37px;
    font-weight: 500;
}
.heading2{
    color: gray;
    font-size: 15px;
    font-weight: 500;
}
.section2-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2-box1{
    color: white;
    width: 1000px;
    border: 1px solid grey;
    padding: 20px 20px;
    border-radius: 5px;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 5em;
}
.section2-left-part{
    float: left;
    color: rgba(245, 245, 245, 0.515);
}
.section2-right-part{
    float: right;
    text-align: right;
}
/* main section ends */



/* footer section starts */
footer{
    margin-top: 3em;
    text-align: center;
}
.footer-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-title1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
}
.btn{
    color: white;
    font-size: 25px;
    margin-right: 1em;
}
.footer-title2-content{
    color: white;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
}
.twitter,.medium, .github, .telegram, .linkedin{
    color: grey;
    font-size: 30px;
}
.twitter:hover,.medium:hover, .github:hover, .telegram:hover, .linkedin:hover{
    color: white;
}
/* footer section starts*/
