*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: rgba(4, 3, 3, 0.908);
}
/* navbar section starts */
nav{
    background-color: rgba(4, 3, 3, 0.23);
}
.navbar .navbar-brand{
    color: white;
}
.navbutton{
    visibility: hidden;
}
.image{
    padding: 0px 1em;
    display: flex;
}
.navbar .nav-link{
    color: rgba(255, 255, 255, 0.633);
}
.navbar .navbar-nav{
    padding-left: 5em;
}
.navbar .nav-item{
    padding-left: 1.5em;
}
.left-part{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3em;
}
.part1{
    margin-right: 20px;
}
.part2{
    margin-right: 10px;
}
.btn1,.btn4{
    border-radius: 5px;
    border: none;
    color: white;
    background-color:rgba(60, 244, 183, 0.685);
    padding: 8px 20px;
}
.btn1:hover, .btn4:hover{
    background-color: rgba(60, 244, 183, 0.488);
}
.btn2{
    border: none;
    color: white;
    background-color:transparent;
    padding: 8px 20px;
    border: 1px solid rgba(245, 245, 245, 0.11);
    border-radius: 5px;
}
.btn2:hover{
    background-color:rgba(128, 124, 124, 0.077);
}
.btn3{
    border-radius: 5px;
    border: none;
    color: white;
    background-color:transparent;
    padding: 8px 20px;
    border: 1px solid rgba(245, 245, 245, 0.11);
    border-radius: 5px;
}
.btn3:hover{
    background-color:rgba(128, 124, 124, 0.077);
}
/* navbar section ends  */




/* main section starts */
.main-container{
    color: white;
    margin-left: 10em;
    margin-right: 10em;
}
.section1{
    margin-top: 3em;
}
.section1-heading{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: -10px;
}
.section1-title{
    font-size: 16px;
    color:darkgrey;
}
.section2-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}
.btn-1{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    color: white;
    background-color:rgba(60, 244, 183, 0.685);
    padding: 8px 20px;
}
.btn-2{
    border: none;
    color: rgb(169, 157, 157);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:rgb(46, 45, 45);
    padding: 7px 20px;
    border: 1px solid rgba(245, 245, 245, 0.11);
}
.btn-2:hover{
    background-color: rgba(60, 244, 183, 0.221);
}
.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-align: center;
    color: white;
}
.section3-content{
    padding: 2em;
    width: 600px;    
    border-radius: 5px;
    border: 1px solid gray;
}
.section3-heading{
    font-size: 25px;
    font-weight: 500;
}
.section3-title{
    font-size: 18px;
    color: rgb(236, 230, 230);
}
.section3-button{
    margin-top: 2em;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(60, 244, 183, 0.685);
}
.section3-button:hover{
    background-color: rgba(60, 244, 183, 0.382);
    box-shadow: 0 0 5px 2px rgb(69, 117, 229);
}
/* main section ends */









/* footer section starts */
footer{
    margin-top: 3em;
    text-align: center;
}
.footer-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-title1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
}
.twitter,.medium, .github, .telegram, .linkedin{
    color: grey;
    font-size: 30px;
}
.twitter:hover,.medium:hover, .github:hover, .telegram:hover, .linkedin:hover{
    color: white;
}
.btn{
    color: white;
    font-size: 25px;
    margin-right: 1em;
}
.footer-title2-content{
    color: white;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
}
/* footer section ends   */